.Date {
    margin-right: 50px;
}

.RecipeContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}

@media (max-width: 700px) {
    .RecipeContent {
        grid-template-columns: 1fr;
    }
}
.LeftContent {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.LeftContent:hover .PopupContent {
    opacity: 1;
    cursor: pointer;
}

.PopupContent {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.7);
}

.RightContent {
    padding: 20px;
}

.RightContent p {
    font-size: 1.4rem;
}

.Like1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
