.App {
  text-align: center;
}

.nav {
  margin-top: 30px !important;
}

.ui.stackable.cards>.card>.CardContent {
  font-size: 0.85rem !important;
}

@media screen and (max-width: 330px){
  .nav {
    width: 95% !important;
  }

  .ui.stackable.cards>.card {
    width: calc(100% - 3em) !important;
  }
}